/* .menu{
    display: none;
} */

/* .field-size{
    width: 300px;
}
.main-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* const main = document.getElementById("main");
const btn = document.createElement("button");
btn.innerText = "menu";
btn.classList.add("btn");
btn.classList.toggle("btn");
main.append(btn); */